BasedOnStyle: LLVM

IndentWidth: 4
ColumnLimit: 100

BreakBeforeBraces: Attach

InsertBraces: true

PointerAlignment: Left

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

SpacesInParentheses: false
SpaceBeforeParens: ControlStatements

SortIncludes: true